.
  <?php

  include 'core/Session.php';
  include 'core/Request.php';
  include 'core/Util.php';
  
  $session = new Session();
  $request = new Request();
  $util = new Util();
  $_token = $util->generateCsrfToken('form', $session);

  $name = $session->get('name');
  $email = $session->get('email');
  $body = $session->get('body');
  $errors = $session->get('errors');

  $session->remove('name');
  $session->remove('email');
  $session->remove('body');
  $session->remove('errors');
  ?>
