- var siteName = "ひぐま整骨院・鍼灸治療院";

head
  meta(charset="utf-8")
 
  title #{pageName} | #{siteName}
  
  meta(name="description" content=description) 
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  //- favicon
  meta(rel="icon" type="media/.icon" href="media/facicon.ico")
  meta(name="msapplication-square70x70logo" content="media/site-tile-70x70.png")
  meta(name="msapplication-square150x150logo" content="media/site-tile-150x150.png")
  meta(name="msapplication-wide310x150logo" content="media/site-tile-310x150.png")
  meta(name="msapplication-square310x310logo" content="media/site-tile-310x310.png")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="media/mstile-144x144.png")
  meta(name="theme-color" content="#f5deb3")
  link(rel="icon" type="image/x-icon" href="media/favicon.ico")
  link(rel="apple-touch-icon" sizes="180x180" href="media/apple-touch-icon-180x180.png")
  link(rel="mask-icon" href="media/safari-icon.svg" color="#555")
  link(rel="icon" type="image/png" sizes="192x192" href="media/android-chrome-192x192.png")
  link(rel="manifest" href="media/manifest.json")

  //- style sheet
  link(rel="stylesheet" href="./style/style.css")
  //- Font Awesome
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
  //- Swiper
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css")
  //- Google font
  link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
