footer.l-footer

  .l-footer-info.l-container--full

    .l-container

      .m-site-logo
        a(href="index.html")
          img(src="media/higuma-footer-logo.png" alt="")

      p
        |〒183-0013 府中市小柳町1丁目21-1
        br
        |午前 9：00 ～ 12：00
        span.overSP  / 
        br.forSP
        |午後 16：00 ～ 19：00
        br
        |予約診療(火・木) 14：00 ～ 16：00
        br
        |休診日 土曜日 / 日曜日 / 祝祭日
        br
        |TEL 042-336-1908
        br

      nav.m-footer-nav
        include /_includes/_m-navigation.pug

  .l-footer-copyRight.l-container--full

    .l-container

      p.m-copy-right--footer
        |Copyrights © HIGUMA osteopathic clinic.
        br.forSP
        |All Rights Reserved
