header#header.l-header

  .l-container


    .m-copyright--header
      p &copy; HIGUMA osteopathic. All Rights Reserved


    nav.m-headerNav
      .m-headerNav-toggle
        .m-headerNav-toggle-bar
      include /_includes/_m-navigation.pug
      .m-headerNav-close 閉じる


    h1.m-siteLogo
      a.m-siteLogo-title(href="index.html")
        img(src="media/higuma-site-logo-w860.png", alt="ひぐま整骨院・鍼灸治療院")


    .m-header-info

      a.m-telnum(href="tel:0423361908")
        img(src="media/higuma-telnum-w360.png")

      a.m-button--access(href="access.html")
        i.fas.fa-map-marker-alt
        |アクセス
        i.fas.fa-chevron-right.ml5.mr0
