header#header.l-header

  l-container


    .m-copyright
      p &copy; HIGUMA osteopathic. All Rights Reserved


    nav.m-navigation--header
      include /_includes/_m-navigation.pug
      .m-navigation--header-toggle menu
      .m-navigation--header-close 閉じる


    h1.m-siteLogo
      a.m-siteLogo-title(href="index.html") ひぐま整骨院・鍼灸治療院


    .m-header-info

      a.m-telnum(href="tel:0423361908")
        img(src="media/higuma-telnum-w360.png")

      a.m-button--access(href="access.html")
        i.fas.fa-map-marker-alt
        |アクセス
        i.fas.fa-chevron-right
