.l-mainVisual.l-container--pcFull

  .m-main-visual

    img.m-main-visual-overSp(src="./media/higuma-mainvisual.jpg" alt="")
    img.m-main-visual-forSp(src="./media/higuma-mainvisual-sp.jpg" alt="")

