.l-mainVisual

  .m-mainVisual#m-mainVisual

    .m-mainVisual-image

      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img#mainVisual-base-image(src="./media/mainv-01.jpg" alt="")
          .swiper-slide
            img(src="./media/mainv-02.jpg" alt="")
          .swiper-slide
            img(src="./media/mainv-03.jpg" alt="")
          .swiper-slide
            img(src="./media/mainv-04.jpg" alt="")
          .swiper-slide
            img(src="./media/mainv-05.jpg" alt="")

    .m-mainVisual-siteLogo-sp

    .m-mainVisual-arrow

    .m-mainVisual-overlay
