.l-mainVisual

  .m-mainVisual

    h1.m-siteLogo-smp
      a(href='#') PAS-POL -旅のモノづくりブランド-｜TABIPPO

    .m-mainVisual-image
      img#mainVisual-base-image(src=pageImg, alt='')
    
    .m-mainVisual-overlay
