section.l-section--info

  .m-info
    h2.m-info-title
      i.fas.fa-info-circle
      | お知らせ

    .m-info-content
      ul
        li
          article.m-info-kiji

            include /_includes/_m-rinji-rest.pug

            p よろしくお願いいたします。

        li
          article.m-info-kiji

            include /_includes/_m-higuma-news.pug

