section.l-section--info

  .m-info
    h2.m-info-title
      i.fas.fa-info-circle
      | お知らせ

    .m-info-content
      ul
        li
          article.m-info-kiji

            include /_includes/_m-rinjiRest.pug

            p よろしくお願い致します。

        li
          article.m-info-kiji

            include /_includes/_m-higumaNews.pug

