.l-share
  .l-container--full

    .m-share-buttons
      .m-share-buttons-item
        a.m-button--facebook(href='#') Share on Facebook

      .m-share-buttons-item
        a.m-button--twitter(href='#') Share on Twitter

      .m-share-buttons-item
        a.m-button--hatena(href='#') Hatena Bookmark

      .m-share-buttons-item--line
        a.m-button--line(href='#') Send to LINE
