.l-share
  .l-container--full

    #js-backTop.m-backTop backTop


    .m-shareButtons
      .m-shareButtons-item
        a.m-button--facebook(href='#') Share on Facebook

      .m-shareButtons-item
        a.m-button--twitter(href='#') Share on Twitter

      .m-shareButtons-item
        a.m-button--hatena(href='#') Hatena Bookmark

      .m-shareButtons-item--line
        a.m-button--line(href='#') Send to LINE
