section.l-section--product

  .l-container--narrow

    .m-sectionTitle.l-row
      h1.m-sectionTitle-text PRODUCT title
      .m-sectionTitle-button
        a.m-button--more(href='#') MORE
    
    .m-productList.l-row      

      article.m-productList-item.l-grid-4
        a.m-productList-item-link(href='#')
          .m-productList-item-image
            img(src='media/fes001t.png', alt='')
          h2.m-productList-item-title The World Festival Guide -海外の音楽フェス完全ガイド-
          p.m-productList-item-description
      
      article.m-productList-item.l-grid-4
        a.m-productList-item-link(href='#')
          .m-productList-item-image
            img(src='media/product02.png', alt='')
          h2.m-productList-item-title この世界で死ぬまでにしたいこと2000
          p.m-productList-item-description
      
      article.m-productList-item.l-grid-4
        a.m-productList-item-link(href='#')
          .m-productList-item-image
            img(src='media/product03.png', alt='')
          h2.m-productList-item-title 365日日本一周 絶景日めくりカレンダー
          p.m-productList-item-description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci sequi, facilis sit eius illo repudiandae saepe rem molestias doloribus, aliquid nisi expedita incidunt doloremque praesentium nemo rerum impedit voluptates ut!
      
      article.m-productList-item.l-grid-4
        a.m-productList-item-link(href='#')
          .m-productList-item-image
            img(src='media/product04.png', alt='')
          h2.m-productList-item-title PASSPORT NOTEBOOK series
          p.m-productList-item-description
      
      article.m-productList-item.l-grid-4
        a.m-productList-item-link(href='#')
          .m-productList-item-image
            img(src='media/product05.png', alt='')
          h2.m-productList-item-title ひとり旅英会話BOOK
          p.m-productList-item-description
      
      article.m-productList-item.l-grid-4
        a.m-productList-item-link(href='#')
          .m-productList-item-image
            img(src='media/product06.png', alt='')
          h2.m-productList-item-title 日本の絶景ポストカード　春編
          p.m-productList-item-description
      

      .m-productList-more.l-grid-12
        a.m-button--more(href='#') MORE

