section.l-section--info

  .m-info
    h2.m-info-title
      i.fas.fa-info-circle
      | お知らせ

    .m-info-content
      ul
        li
          article.m-info-kiji
            time.m-time 2019年7月25日
            h3.m-info-kiji-title 8月の臨時休業について
            // <p>月の臨時休業はありません。</p>
            ul
              li 8月2日（金）午後
              li 8月13日（火）
            p よろしくお願い致します。

        li
          article.m-info-kiji
            time.m-time 2019年6月25日
            h3.m-info-kiji-title ひぐま健康ニュース7月・8月号
            p ひぐま健康ニュース7月・8月号が発行されました。
            p.m-btn-p
              a(href="pdf/higuma_news_201907-08.pdf") 記事はこちらから（PDFファイル）
            img(src="img/higuma_news_201907-08-01.jpg" alt="" width="300")
            img(src="img/higuma_news_201907-08-02.jpg" alt="" width="300")
