section.l-section

  .l-container

    .m-concept.l-row

      h1.m-concept-title concept title

      .m-concept-read--index

        p 
          |あ
          br
          |い
          br
          |う
          .m-concept-siteLogo
          |え
          br
          |お

        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque, provident dolorum qui quos voluptatibus voluptas exercitationem sed inventore numquam laboriosam quisquam ex, reiciendis harum saepe rem pariatur quaerat. Quis.