section.l-section.l-section--news
  .l-container


    .m-section-title.l-row
      h1.m-section-title-text news title
      .m-section-title-button
        a.m-button.m-button--more(href='#') MORE


    .m-news-list.l-row


      article.m-news-list-item
        a(href='#')
          .m-news-list-item-image.l-grid-5
            img(src='media/l-section--news.jpg', width='800', height='365', alt='')
          .m-news-list-item-text.l-grid-7
            h2.m-news-list-item-title 1
            p.m-news-list-item-date
              time(datetime='2019-06-24') 2019.6.24
            p.m-news-list-item-description
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque sit vel saepe tempora fuga omnis, officia quis, dicta rerum placeat id aut maiores animi excepturi libero dolorum? Eius, reiciendis.

      article.m-news-list-item
        a(href='#')
          .m-news-list-item-image.l-grid-5
            img(src='media/l-section--news.jpg', width='800', height='365', alt='')
          .m-news-list-item-text.l-grid-7
            h2.m-news-list-item-title newsList title
            p.m-news-list-item-date
              time(datetime='2019-06-24') 2019.6.24
            p.m-news-list-item-description
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque sit vel saepe tempora fuga omnis, officia quis, dicta rerum placeat id aut maiores animi excepturi libero dolorum? Eius, reiciendis.


      article.m-news-list-item
        a(href='#')
          .m-news-list-item-image.l-grid-5
            img(src='media/l-section--news.jpg', width='800', height='365', alt='')
          .m-news-list-item-text.l-grid-7
            h2.m-news-list-item-title newsList title
            p.m-news-list-item-date
              time(datetime='2019-06-24') 2019.6.24
            p.m-news-list-item-description
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque sit vel saepe tempora fuga omnis, officia quis, dicta rerum placeat id aut maiores animi excepturi libero dolorum? Eius, reiciendis.

      article.m-news-list-item
        a(href='#')
          .m-news-list-item-image.l-grid-5
            img(src='media/l-section--news.jpg', width='800', height='365', alt='')
          .m-news-list-item-text.l-grid-7
            h2.m-news-list-item-title newsList title
            p.m-news-list-item-date
              time(datetime='2019-06-24') 2019.6.24
            p.m-news-list-item-description
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque sit vel saepe tempora fuga omnis, officia quis, dicta rerum placeat id aut maiores animi excepturi libero dolorum? Eius, reiciendis.

      article.m-news-list-item
        a(href='#')
          .m-news-list-item-image.l-grid-5
            img(src='media/l-section--news.jpg', width='800', height='365', alt='')
          .m-news-list-item-text.l-grid-7
            h2.m-news-list-item-title newsList title
            p.m-news-list-item-date
              time(datetime='2019-06-24') 2019.6.24
            p.m-news-list-item-description
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque sit vel saepe tempora fuga omnis, officia quis, dicta rerum placeat id aut maiores animi excepturi libero dolorum? Eius, reiciendis.

      article.m-news-list-item
        a(href='#')
          .m-news-list-item-image.l-grid-5
            img(src='media/l-section--news.jpg', width='800', height='365', alt='')
          .m-news-list-item-text.l-grid-7
            h2.m-news-list-item-title newsList title
            p.m-news-list-item-date
              time(datetime='2019-06-24') 2019.6.24
            p.m-news-list-item-description
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque sit vel saepe tempora fuga omnis, officia quis, dicta rerum placeat id aut maiores animi excepturi libero dolorum? Eius, reiciendis.

      article.m-news-list-item
        a(href='#')
          .m-news-list-item-image.l-grid-5
            img(src='media/l-section--news.jpg', width='800', height='365', alt='')
          .m-news-list-item-text.l-grid-7
            h2.m-news-list-item-title newsList title
            p.m-news-list-item-date
              time(datetime='2019-06-24') 2019.6.24
            p.m-news-list-item-description
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque sit vel saepe tempora fuga omnis, officia quis, dicta rerum placeat id aut maiores animi excepturi libero dolorum? Eius, reiciendis.
      .m-news-list-more.l-grid-12
        a.m-button.m-button--more(href='#') MORE

