//- layout.pug
block var
if pageName == "お問い合わせ"
  include /_includes/_form-head.pug
else if pageName == "送信結果"
  include /_includes/_sent-head.pug

doctype html
html

  //- head
  include /_includes/_head.pug

  body

    //- header
    include /_includes/_l-header.pug

    //- mainVisual
    if pageName == "ホーム"
      include /_includes/_l-main-visual-index.pug
    else
      include /_includes/_l-main-visual.pug

    //- globalNav
    include /_includes/_l-global-nav.pug

    //- mainSection
    if pageName == "ホーム"
      block mainSection

    else
      .l-section--page
        .l-container
          .m-bread-crumb
            ul
              li: a(title="" href="index.html" class="home") ホーム
              li #{pageName}

          .m-section-title
            h1 #{pageName}

          .m-section-content
            block mainSection

    //- footer
    include /_includes/_l-footer.pug

    //- script
    include /_includes/_script.pug