//- layout.pug
block var
if pageName == "お問い合わせ"
  include /_includes/_formHead.pug
else if pageName == "送信結果"
  include /_includes/_sentHead.pug

doctype html
html

  //- head
  include /_includes/_head.pug

  body

    //- header
    include /_includes/_l-header.pug

    //- mainVisual
    if pageName == "ホーム"
      include /_includes/_l-mainVisual-index.pug
    else
      include /_includes/_l-mainVisual.pug

    //- globalNav
    include /_includes/_l-globalNav.pug

    //- mainSection
    if pageName == "ホーム"
      block mainSection

    else
      .l-section--page
        .l-container
          .m-breadCrumb
            ul
              li: a(title="" href="index.html" class="home") ホーム
              li #{pageName}

          .m-sectionTitle
            h1 #{pageName}

          .m-sectionContent
            block mainSection

    //- footer
    include /_includes/_l-footer.pug

    //- script
    include /_includes/_script.pug