//- layout--index.pug
block var

doctype html
html

  //- head
  include /_includes/_head.pug

  body

    //- header
    include /_includes/_l-header.pug

    //- mainVisual
    include /_includes/_l-mainVisual-index.pug

    //- globalNav
    include /_includes/_l-globalNav.pug

    //- mainSection
    block mainSection

    //- footer
    include /_includes/_l-footer.pug

    //- script
    include /_includes/_script.pug