.m-higumaNews

  h3 ひぐま健康ニュース11月・12月号

  p ひぐま健康ニュース11月・12月号が発行されました。

  p: a.m-button--info(href="media/higuma_news_201911-12.pdf") 記事はこちらから（PDFファイル）

  img(src="media/higuma_news_201911-12-01.jpg" alt="" width="300")
  img(src="media/higuma_news_201911-12-02.jpg" alt="" width="300")