.m-higumaNews

  h3 ひぐま健康ニュース5月・6月号

  p ひぐま健康ニュース5月・6月号が発行されました。

  p: a.m-button--info(href="media/higuma_news_20200506.pdf") 記事はこちらから（PDFファイル）

  img(src="media/higuma_news_20200506_01.jpg" alt="" width="300")
  img(src="media/higuma_news_20200506_02.jpg" alt="" width="300")