ul
  li: a(href="index.html") ホーム
  li: a(href="about.html") 当院について
  li: a(href="judo.html") 柔道整復
  li: a(href="hoken.html") 各種保険
  li: a(href="menu.html") 料金表
  li: a(href="form.php") お問い合わせ
  li: a(href="access.html") アクセス
  li: a(href="tel:0423361908") お電話
