ul
  li: a(href="index.html")
    i.fas.fa-clinic-medical
    |ホーム
  li: a(href="about.html")
    i.fas.fa-clipboard-check
    |当院について
  li: a(href="judo.html")
    i.fas.fa-hands-helping
    |柔道整復
  li: a(href="hoken.html")
    i.fas.fa-hand-holding-heart
    |各種保険
  li: a(href="menu.html")
    i.fas.fa-table
    |料金表
  li: a(href="form.php")
    i.fas.fa-envelope
    |お問い合わせ
  li.access: a(href="access.html")
    i.fas.fa-map-marker-alt
    |アクセス
  li.phone: a(href="tel:0423361908")
    i.fas.fa-phone.fa-rotate-90
    |お電話
