.m-rinjiRest

  h3 8月の臨時休業について
  //- h3 年末年始の営業時間

  //- p 6月の臨時休業はありません。
  ul
    li 8/11(火)
    li 8/12(水)
  p 上記 8/8〜8/12連休になります。
    //- li
    //-   | 8/12(水)<br>
    //-   | 上記 8/8〜8/12連休になります。
