//- product.pug
block var

doctype html

html

  //- head
  include /_includes/_head.pug
  body
    
    //- header
    include /_includes/_l-header.pug
    
    //- mainVisual
    include /_includes/_l-mainVisual.pug

    block main-section
    
    //- share
    include /_includes/_l-share.pug

    //- footerNav
    include /_includes/_l-footerNav.pug

    //- footer
    include /_includes/_footer.pug

    //- script
    include /_includes/_script.pug

