// ベースとなるスタイル
// ----------------------------------------------------------------------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $font-color-inverse;
  color: $font-color;
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: 1.7;
}

a {
  @include animation;

  color: $font-color;
  text-decoration: none;
}

p {
  margin: 15px 0;
}

ul {
  list-style: none inside;
}

small {
  line-height: 1;
}

// clearFix
.cf {
  content: '';
  display: block;
  clear: both;
}

// margin
.mr0 {
  margin-right: 0;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}

// mediaquery
.forSP {
  display: none;

  @include mediaquery-smartphone {
    display: block;
  }
}

.overSP {
  @include mediaquery-smartphone {
    display: none;
  }
}
