.l-footer


.l-footer-info
  background-color: $mainColor
  padding: 35px 0
  text-align: center
  color: $fontColor-inverse
  font-size: 1.4rem


.l-footer-copyRight
  background-color: $mainColor-darker


