.l-header
  +clear-fix
  
  .m-siteLogo
    float: left


  .m-header-info
    float: right
    text-align: right

  
  .m-telnum
    margin-bottom: 3px


  .m-button--access
  

  .m-navigation--header
    display: none
    float: right

    +mediaquery-smartphone
      display: block

