.l-section
  width: 100%
  background-color: $bgColor-base
  padding-top: 110px
  padding-bottom: 110px

  +mediaquery-500
    padding-top: 70px
    padding-bottom: 70px


.l-section--product
  @extend.l-section
  background-color: $bgColor-white
