.l-section
  width: 100%
  background-color: $bgColor-white


.l-section--timeTable
  @extend.l-section
  float: right
  width: 440px


.l-section--info
  @extend.l-section
  float: left
  width: calc(100% - 440px - 15px)


.l-section--product
  @extend.l-section
  background-color: $bgColor-white
