.m-button
  +animation
  display: inline-block
  padding: 0 10px
  color: $fontColor-inverse
  background-color: $mainColor
  border: 3px solid $mainColor
  text-align: center
  border-radius: 5px


  &:hover
    opacity: 1
    color: $mainColor
    background-color: $fontColor-inverse

.m-shareButtons .m-button

  +mediaquery-700
    width: 150px
    font-size: 13px

  +mediaquery-580
    width: 100%

.m-button--access
  @extend.m-button


.m-button--more
  @extend.m-button

  background: url('../media/button-arrow@2x.png') no-repeat
    size: 8px 12px
    position: 140px 50%

  &:hover
    background-color: $fontColor
    color: $fontColor-inverse
    background-image: url('../media/button-arrow-hover@2x.png')


.m-button--facebook
  @extend.m-button
  color: $facebook
  border-color: $facebook

  &:hover
    color: $fontColor-inverse
    background-color: $facebook


.m-button--twitter
  @extend.m-button
  color: $twitter
  border-color: $twitter

  &:hover
    color: $fontColor-inverse
    background-color: $twitter


.m-button--hatena
  @extend.m-button
  color: $hatena
  border-color: $hatena

  &:hover
    color: $fontColor-inverse
    background-color: $hatena

.m-button--line
  @extend.m-button
  color: $line
  border-color: $line

  &:hover
    color: $fontColor-inverse
    background-color: $line

