// clear fix
@mixin clear-fix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Text Replace
@mixin text-replace {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// Inline Block
@mixin inline-block-parent {
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 1.6rem;
  letter-spacing: normal;
  vertical-align: top;
  word-spacing: normal;
}

// 基本の横並び Navigation
@mixin navigation-list {
  @include inline-block-parent;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin navigation-list-item {
  @include inline-block;

  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }
}

@mixin navigation-list-item-link {
  @include animation;

  color: $font-color-inverse;
  font-family: $font-family-specific;
  font-size: 14px;
  letter-spacing: $letter-spacing-title;
}

// Media Queries Settings
// Retina

@mixin mediaquery($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin mediaquery-retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {
    @content;
  }
}

// PC
@mixin mediaquery-pc {
  @media only screen and (max-width: $breakpoint-pc) {
    @content;
  }
}

// Small Tablet
@mixin mediaquery-tablet {
  @media only screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

// SmartPhone
@mixin mediaquery-smartphone {
  @media only screen and (max-width: $breakpoint-smartphone) {
    @content;
  }
}

// mainVisual-switch
@mixin mediaquery-main-visual {
  @media only screen and (max-width: $breakpoint-main-visual-switch) {
    @content;
  }
}

// 500px
@mixin mediaquery-500 {
  @media only screen and (max-width: 500px) {
    @content;
  }
}

// 580px
@mixin mediaquery-580 {
  @media only screen and (max-width: 580px) {
    @content;
  }
}

// 700px
@mixin mediaquery-700 {
  @media only screen and (max-width: 700px) {
    @content;
  }
}

// 780px
@mixin mediaquery-780 {
  @media only screen and (max-width: 780px) {
    @content;
  }
}

// Extend
// CSS Transition Easing
// Default
$linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in: cubic-bezier(0.42, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);

// In
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);

// Out
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// In Out
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// animation
@mixin animation {
  transition: {
    duration: 250ms;
    timing-function: $ease;
    property: all;
  }
}
