@charset "utf-8"


// font-family
// ----------------------------------------------------------------------
$fontFamily: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$fontFamily-specific: 'Lato', sans-serif


// カラー
// ----------------------------------------------------------------------
$fontColor: #333
$fontColor-inverse: #fff
$fontColor-sub: #656c6e
$fontColor-error: #E27408

$mainColor: #3883b2
$mainColor-darker: #03547D
$mainColor-lighter: #B4DAED
$mainColor-moreLighter: #EFF5F8

$facebook: #4871A9
$twitter: #70BDD3
$hatena: #2F9BCD
$line: #8EC09D

$bgColor-base: #f6f6f6
$bgColor-white: #fff
$bgColor-footerNav: #939899
$bgColor-footer: #656C6E

$letterSpacing-title: 0.1em


// ブレークポイント
// ----------------------------------------------------------------------
$breakpoint-pc: 1130px
$breakpoint-tablet: 768px
$breakpoint-smartphone: 480px
$breakpoint-se: 360px
$breakpoint-mainVisual-switch: 600px


// インポート
// ----------------------------------------------------------------------
@import "normalize"
@import "mixin"
@import "base"
@import "l-header"
@import "m-siteLogo"
@import "m-headerNav"
@import "m-telnum"
@import "m-mainVisual"
@import "l-globalNav"
@import "m-globalNav"
@import "l-section"
@import "grid"
@import "m-timeTable"
@import "m-info"
@import "m-concept"
@import "m-sectionTitle"
@import "m-sectionContent"
@import "m-button"
@import "m-productList"
@import "m-newsList"
@import "m-breadCrumb"
@import "m-form"
@import "m-sent"
@import "l-share"
@import "m-backTop"
@import "m-shareButtons"
@import "l-footer"
@import "m-footerNav"
@import "m-copyRight"
@import "m-pagenation"
