//- about.pug

extends /_includes/_layout.pug

block var
  - var pageName = "当院について";
  - var description = "";
  - var pageImg = "media/higuma-about.jpg";


block mainSection

  h2#section 院長紹介
  p
    img(src="media/higuma-doctor.jpg" alt="")
  p ひぐま整骨院、院長の松澤　誠吾です。
  p
    | 1955年北海道函館市生まれ。札幌市の高校を卒業後に東京で就職していましたが、中国に旅行に行く機会があり、その時はじめて鍼灸医術の治療を目にし、これぞ天職だと感銘を受け、帰国後すぐ会社に辞表を提出し、国際鍼灸専門学校に入学しました。79年にあん摩マッサージ指圧師免許、80年に鍼師・灸師免許を取得。82年に帝京医学技術専門学校で柔道整復師免許を取得したのち、札幌市に帰郷して整形外科に就職しました。
  p
    | 85年に札幌市で念願の整骨院を開業、18年間地域に根ざした治療を行ってきましたが、2003年に妻の実家の府中市に転居することとなり、3年後の06年、この地でひぐま整骨院を開業しました。今年で13年目になります。
  p 現在の趣味は登山とスキーで、夏は縦走やクライミング、沢登り、冬には山スキーなどをしています。このほか、テニスや自転車も楽しんでいます。
  .cf

  h2#section-1 当院の治療方針
  p
    img(src="media/higuma-bed.jpg" alt="")
  p
    | 当院では、来院していただいた患者様の直接痛む場所や、そこから別の場所に生じる関連痛、身体のバランスが狂ったことによる放散痛などを改善するために、低周波療法、鍼・灸、マッサージ等を用いて治療します。
  p なるべく健康保険の範囲内で治療をいたしますが、早期に改善するためには保険外治療をおすすめする場合もございます。
  p 患者様と相談しながら治療を進めていきたいと思います。
  .cf

  h2#section-2 当院の特徴
  p
    img(src="media/higuma-taimen.jpg" alt="")
  p 院長の私が直接治療を行います。
  p 私自身が趣味のスキーやテニスで肩の腱板断裂をしたり、膝の内側靱帯を痛めたりした経験があります。
  p 私も還暦を過ぎ、自身が体力の衰えを感じることが多くなってきましたが、まだまだ仕事も趣味も楽しみたいと思っています。
  p ご高齢の患者様や、いつまでもスポーツを楽しみたい患者様の身になって、きめ細かい治療をいたします。
  p
    | 当院では、いかに皆様に健やかな生活をしていただけるかを第一に考えています。患者様の中にも、加齢とともに日常生活で歩行が遅くなった、階段の上り下りがつらくなった、腰が伸びない、腰が痛い、肩が上がらない、肩を上げるときに痛い、食欲が出ない、眠れない……など、さまざまな悩みを抱えている方が多いと思います。
  p 気が付いたときに早く手当てをし、治療をはじめていただくと、楽になるのも早くなります。お気軽にご来院ください。
  .cf
