//- form.pug
extends /_includes/_layout.pug

block var
  -
    var page = 'form';
    var pageName = "お問い合わせ";
    var description = "";
    var pageImg = "media/higuma-form.jpg";

block mainSection

  h2 個人情報の取り扱いについて
  ul
    li 当院はお客様の個人情報について、お客様の承諾が無い限り第三者に開示、提供をいたしません。（但し、法令により開示を求められた場合を除きます。）
    li 客様から個人情報をご提供して頂き、お客様へのサービスにご利用させて頂く場合があります。その目的以外には利用いたしません。
    li ご提供頂いた個人情報は、管理責任者が適切な管理を行なうとともに、漏洩や紛失等の防止に努めます。

  h2 情報のご入力
  .m-form
    form(action="sent.php" method="post")
      input(type="hidden" name="_token" value!="<?php echo $_token; ?>")


      .m-form-row
        p.m-form-title--email.m-form-required メールアドレス
        .m-form-input
          input.email-input(type="text" name="email" value!="<?php echo $email ? $util->escape($email) : ''; ?>" autocomplete="OFF")
          p.email-caution ※お間違えのない様、ご確認ください。
          .
            <?php echo isset($errors['email']) ? $util->displayError($errors['email']) : ''; ?>


      .m-form-row
        p.m-form-title.m-form-required お名前
        .m-form-input
          input(type="text" name="name" value!="<?php echo $name ? $util->escape($name) : ''; ?>" autocomplete="OFF")
          .
            <?php echo isset($errors['name']) ? $util->displayError($errors['name']) : ''; ?>


      .m-form-row
        p.m-form-title.m-form-required お問い合わせ内容
        .m-form-input
          textarea(name="body") <?php echo $body ? $util->escape($body) : ''; ?>
          .
            <?php echo isset($errors['body']) ? $util->displayError($errors['body']) : ''; ?>


      input.m-button--submit(type="submit" value="送信する")
