//- judo.pug

extends /_includes/_layout.pug

block var
  -
    var page = 'hoken';
    var pageName = "各種保険";
    var description = "";
    var pageImg = "media/higuma-hoken.jpg";

block mainSection

  h2#section 健康保険
  p 国保・組合・社保・共済・老人・医療助成制度(親・障・乳・生・福)など。

  h2#section-1 労災
  p (業務災害)労働中に起きた事故での負傷　　　様式第７号(３)
  p (通勤災害)通勤途中に被った負傷　　　　様式第１６号の５(３)
  p
    | ※会社の担当者に報告した後『労災法令用紙』(用紙の右上部分に青字で柔があります)
    | をお持ちになりご来院ください。会社の事業主の証明が必要となります。
  p
    | ※業務災害・通勤災害の場合、労働保険の給付によって治療を受けることが出来ますので、
    | 自己負担金は掛かりません。

  h2#section-2 自賠責保険または任意保険
  p 交通事故による負傷、後遺症
  p
    | ※加害者または本人が加入している保険会社に連絡し、承諾を得てから施術を受けてください。
    | 保険会社の承諾が得られれば、自己負担金は掛かりません。

  h2#section-3 傷害保険(スポーツ保険等)
  p ※本人の加入している保険会社に連絡し、承諾を得てから施術を受けてください。
  p 保険会社の承諾が得られれば、自己負担金は掛かりません。

  h2#section-4 交通事故でお掛かりになる方へ
  p お支払方法はいろいろ有りますが、任意保険を使用される際は速やかに保険会社への連絡をお願いいたします。
  p その際、保険会社の担当者さんに当院への電話連絡と一括請求の書類を送付していただくようお伝え下さい。
  p 保険会社からの連絡が当院に入るまでは患者様の自己負担となりますのでご了承ください。
  p 連絡が入り次第、それまでご負担いただいていた金額を返金いたします
  p 詳しくはご来院の際に説明させていただきます。お気軽にご相談ください。

  h2#section-5 鍼灸またはマッサージで保険利用を希望の場合
  p ご本人かかりつけの医師に診断同意書 を書いていただく必要が有ります。
  p ※診断同意書は当院に用意して有ります。
  p ※毎月保険証の確認、保険請求書へのサインと印鑑が必要になります。
