//- index.pug

extends /_includes/_layout.pug

block var
  -
    var page = 'index';
    var pageName = "ホーム";
    var description = "多磨霊園駅からゆっくり歩いて3分のひぐま整骨院・鍼灸治療院のホームページです。";


block mainSection
  .l-container
    //- l-section--timeTable
    include /_includes/_l-section--timeTable.pug
    //- l-section--info
    include /_includes/_l-section--info.pug