//- index.pug

- var pageName = "ホーム";
- var description = "多磨霊園駅からゆっくり歩いて3分のひぐま整骨院・鍼灸治療院のホームページです。";

doctype html
html
  //- head
  include /_includes/_head.pug
  body

    //- header
    include /_includes/_l-header.pug

    //- mainVisual
    include /_includes/_l-mainVisual-index.pug

    //- globalNav
    include /_includes/_l-globalNav.pug

    .l-container

      //- l-section--timeTable
      include /_includes/_l-section--timeTable.pug

      //- l-section--info
      include /_includes/_l-section--info.pug

    //- footerNav
    include /_includes/_l-footerNav.pug

    //- footer
    include /_includes/_l-footer.pug

    //- script
    include /_includes/_script.pug