//- judo.pug

extends /_includes/_layout.pug

block var
  -
    var page = 'judo';
    var pageName = "柔道整復";
    var description = "";
    var pageImg = "media/higuma-judo.jpg";

block mainSection

  h2#section 柔道整復～保険適用の範囲～
  p 柔道整復師は、主に運動器系の疾患を治療する専門家です。骨、筋肉、腱、靭帯、関節などが対象です。
  p 外科手術を行わず、患者さん自身の持つ自然治癒力を最大限に引き出す保存療法が柔道整復術です。
  p 柔道整復では捻挫・挫傷・打撲・骨折・挫傷を扱っており、これらの傷病が保険の対象となります。
  p 当院では電気治療の他、キネシオテーピング、皮内鍼、運動療法なども行っています。


  h3#section-1 捻挫(ねんざ)　～関節周辺の靭帯や腱などが傷ついた状態～
  p 正常な関節の動きの範囲を超えた状態。関節がハレて痛みが出てきます。
  p 階段を踏み外して足をくじく人はいませんか？
  p
    | その後に来る痛みは捻挫によるものです。 日常動作で必ず足を使いますから、初期段階での正しい固定が大事です。
    | 無理な姿勢を長時間続けることがきっかけで起こることもあります (ぎっくり腰・寝違えも捻挫の範疇です)。


  h3#section-2 挫傷(ざしょう)　～筋繊維が断裂している(肉離れ)～
  p 筋肉に目には見えない小さな傷ができている状態 過度の運動・急な運動によって起こりやすいです。
  p 運動中や運動後に感じる筋肉痛や足がつっている状態は挫傷と言えます。
  p 運動前後のストレッチが大事なのは急に激しい運動をして筋肉が傷つくのを防ぐためです。


  h3#section-3 打撲(だぼく)　～筋肉を圧迫して出血が起きている～
  p 外力による強打または極度に強い圧力で圧迫される皮下損傷。 押すと筋肉に痛み、内出血がみられます。
  p よく言う『青タン』すなわち『青いたんこぶ』のことですね。
  p 皮膚直下で出血していなければ、内出血を目で確認できないこともあります。
  p 胸部の打撲の場合２、３日後に痛みが現れることもあります。


  h3#section-4 骨折(こっせつ)　～骨が折れている、または破損している～
  p 骨組織の連続性が完全にあるいは部分的に離断された状態です。軽いヒビや骨折したところがずれて変形しているものまで様々。
  p 当院にはレントゲンがありませんので、骨折が疑われる場合 整形外科や病院で診てもらうようにお伝えしています。
  p リハビリや筋力回復のお手伝いは専門範囲ですのでお任せ下さい。


  h3#section-5 脱臼(だっきゅう)　～骨と骨がうまく連結されていない～
  p あご・肩・肘・指によく起こります。子供に起こりやすいです。大人でも、激しいスポーツをして亜脱臼になる人がいます。
  p 早急に正しい位置に戻す事が大事です。 早めの診察が早期回復の鍵です、お気軽にご相談、ご来院下さい。
