//- news.pug
extends /_includes/_page-layout

block var
  - var pageName = "NEWS";
  - var description = "PAS-POLはTABIPPOのモノづくりブランドです。 ⾃分と世界を繋げる新しい時代のパスポートのようなモノを作りたいと思い、PAS-POLという名前をつけました。";
  - var pageImg = "media/news.jpg";

block main-section

  //- l-section--news
  section.l-section.l-section--news
    .l-container--narrow
      .m-sectionTitle.l-row
        h1.m-sectionTitle-text NEWS
      .m-newsList.l-row
        article.m-newsList-item
          a(href='#')
            .m-newsList-item-image.l-grid-5
              img(src='media/tabibito_new.jpg', width='800', height='365', alt='')
            .m-newsList-item-text.l-grid-7
              h2.m-newsList-item-title noteコラボ企画「#旅とわたし」の募集期間を7/12(金)に延長します！
              p.m-newsList-item-date
                time(datetime='2019-06-24') 2019.6.24
              p.m-newsList-item-description
                | noteとコラボして制作をしている旅のエッセイ本「僕が旅人になった日」。現在みなさまからエッセイの募集をしています。素敵な文章は2月に発売予定の本書籍に掲載されます。 そんなnoteとのコラボ企画ですが、大好評につきエッセイ募集期間を7/12(金)に延長しました！ 期間延長の背景 6月のはじめから開始されたこの企画ですが、瞬く間に500件の投稿数を超え、その後も1,000、2,000と投稿数が増えていきました。 おかげさまでnoteでのハッシュタグの数は6/24現在2400件を突破しました！たく ...
        article.m-newsList-item
          a(href='#')
            .m-newsList-item-image.l-grid-5
              img(src='media/pickup2-tabibito.jpg', width='800', height='365', alt='')
            .m-newsList-item-text.l-grid-7
              h2.m-newsList-item-title noteコラボ企画「#旅とわたし」の投稿が2000件突破！！
              p.m-newsList-item-date
                time(datetime='2019-06-21') 2019.6.21
              p.m-newsList-item-description
                | noteとコラボして制作をしている旅のエッセイ本。「#旅とわたし」のハッシュタグをつけて投稿していただいてるのですが、なんと2000投稿を突破しました！！！ 約１週間で1000投稿も増えていて、感激です！そして全て読ませていただいてます！！ #旅とわたしのテーマがあるから、旅について書いてみようと振り返って文章にしてくれる人たちもたくさんいました。自分の旅を改てどうだったなかなと考え直すことはあまりないと思います。旅中の出来事を思い出して嬉しくなったり、あの時どう思ってたなぁと自分のことを知れた ...
        article.m-newsList-item
          a(href='#')
            .m-newsList-item-image.l-grid-5
              img(src='media/pickup-02.jpg', width='800', height='365', alt='')
            .m-newsList-item-text.l-grid-7
              h2.m-newsList-item-title 書籍応募の「#旅とわたし」エッセイ、素敵な文章をピックアップ！
              p.m-newsList-item-date
                time(datetime='2019-06-10') 2019.6.10
              p.m-newsList-item-description
                | TABIPPOで新たにつくる、旅のエッセイを集めた本。noteとコラボして、「#旅とわたし」のハッシュタグですでにたくさんの応募をいただいてます。 もうすぐ1000件を迎えるエッセイたち。全て読ませてもらっているんですが、旅は人それぞれだし、色んな解釈があって面白いなと楽しませてもらっています！ そんなたくさんの旅のお話から、素敵だったエピソードをいくつかピックアップしました。 （書籍掲載とは関係ありません。TABIPPOメンバーがいいなと思ったものをご紹介しています。） ぜひ読んでほしい「#旅 ...
        article.m-newsList-item
          a(href='#')
            .m-newsList-item-image.l-grid-5
              img(src='media/note-ver.png', width='800', height='365', alt='')
            .m-newsList-item-text.l-grid-7
              h2.m-newsList-item-title TABIPPOが今回の新書籍にかける想い
              p.m-newsList-item-date
                time(datetime='2019-05-29') 2019.5.29
              p.m-newsList-item-description
                | 先日、新しい書籍の制作がキックオフしました。 これまで10冊以上の旅の本をつくってきたTABIPPOですが、いちばん嬉しい感想は「この本を読んで旅に出ました」という言葉です。 そして、いちばんその声をいただいたのは、初めて僕たちが出版した『僕らの人生を変えた世界一周』という本でした。 世界一周をした50人の旅行記をまとめた一冊は、2万4千部のヒット作となり、そのあと数十万部を超えるTABIPPOの本の原点となりました。     5年前。 まだ、TABIPPOが会社にすらなって ...
        article.m-newsList-item
          a(href='#')
            .m-newsList-item-image.l-grid-5
              img(src='media/fesbook-artboad-1.png', width='800', height='365', alt='')
            .m-newsList-item-text.l-grid-7
              h2.m-newsList-item-title 海外フェスがこの一冊に！『THE WORLD FESTIVAL GUIDE』が販売スタート
              p.m-newsList-item-date
                time(datetime='2019-04-23') 2019.4.23
              p.m-newsList-item-description
                | 旅の目的は人それぞれ。世界のフェスをこの目で見てみたいと思っている人も多いのではないでしょうか。でも、海外フェスだけが集まった本って全然ない…どうやってチケット取るの？難しくないの？ などなど、そんな疑問をお持ちの人に向けて、120箇所以上の海外フェスを集めた完全ガイドがいろは出版より発売されました。 著者は実際に100箇所以上の海外フェスに訪れたことがある「津田昌太朗」氏。筆者ならではの目線で40カ国、120以上の世界の音楽フェスを紹介しています。 『The World Festival Gu ...
        article.m-newsList-item
          a(href='#')
            .m-newsList-item-image.l-grid-5
              img(src='media/fesbook-artboad-1.png', width='800', height='365', alt='')
            .m-newsList-item-text.l-grid-7
              h2.m-newsList-item-title 3万円の旅行券が当たる！BackpackFESTA会場にて、Twitter投稿キャンペーンを実施します
              p.m-newsList-item-date
                time(datetime='2019-02-14') 2019.2.14
              p.m-newsList-item-description
                | おかげさまで4刷目が決まり発行部数24,000を突破した『この世界で死ぬまでにしたいこと2000』。これを記念して、今月2月に開催されるBackpackFESTA（大阪・東京・福岡会場）に参加される旅好きの皆さんに「3万円の旅行券が当たる」嬉しいキャンペーンを実施します！   『この世界で死ぬまでにしたいこと2000』ってどんな本？ 大人気のこちらの書籍。世界の絶景はもちろん、秘境、アクティビティ、グルメなどこの世界で死ぬまでにしたいことが2000個ずらりと並んでいます。 たくさん旅を ...
      ul.m-pagenation
        li.m-pagenation-prev: a(href="#")
        li: a(href="news01.html") 1
        li: a(href="news02.html") 2
        li: a(href="news03.html") 3
        li: a(href="news04.html") 4
        li: a(href="news05.html") 5
        li.m-pagenation-next: a(href="#")
