//- product.pug
extends /_includes/_page-layout

block var
  - var pageName = "PRODUCT";
  - var description = "PAS-POLはTABIPPOのモノづくりブランドです。 ⾃分と世界を繋げる新しい時代のパスポートのようなモノを作りたいと思い、PAS-POLという名前をつけました。";
  - var pageImg = "media/product.jpg";

block main-section

  //- l-section--product
  include /_includes/_l-section--product.pug
