//- sent.pug
extends /_includes/_layout.pug

block var
  -
    var page = 'sent';
    var pageName = "送信結果";
    var description = "";
    var pageImg = "media/higuma-form.jpg";

block mainSection
  p <?php echo $resultMessage; ?>

  .m-sent
    .m-sent-row
      p.m-sent-title メールアドレス
      p.m-sent-input <?php echo $email ?>
    .m-sent-row
      p.m-sent-title お名前
      p.m-sent-input <?php echo $name ?>
    .m-sent-row
      p.m-sent-title お問い合わせ内容
      p.m-sent-input <?php echo $body ?>
